@import "./components/default";

%sidebar-flex {
  flex-basis: 180px;
}

.wrapper {
  display: flex;
  width: 100vw;
  min-height: 90vh;
}

.toolbar {
  background: $dark-grey;
  @extend %sidebar-flex;
}

.project_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  max-width: 60%;

  .artboard {
    flex-grow: 2;
    padding: 2rem;
    text-align: center;
    word-wrap: break-word;
  }
}

.sidebar {
  @extend %sidebar-flex;
}

.form-control {
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  min-height: 150px;
  max-height: 150px;
  width: 70%;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
}

.f1 {
  font-size: 5em;
  color: $mute-black;
  font-weight: bold;
}
